/* Banner.css */

.slider__item {
  position: relative; /* Ensure relative positioning for absolute content */
  width: 100%;
  height: 650px; /* Adjust height as needed */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Adjust background size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
}

.slider__item-01 {
  background: url('./farmers/banner3.jpg') center/cover no-repeat;
}

.slider__item-02 {
  background: url('./farmers/banner6.jpg') center/cover no-repeat;
}

.slider__item-03 {
  background: url('./farmers/banner5.png') center/cover no-repeat;
}

.hero__slider {
  overflow: hidden;
}

.slider__content {
    position: relative; /* Ensure stacking order */
    z-index: 1; /* Place content above overlay */
    padding-top: 160px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5); /* Add black outlining */
  }
  


.slider__content h1,
.slider__content h4,
.slider__content h6 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff; /* Adjust text color for better contrast */
}

.reserve__btn {
  background: linear-gradient(135deg, #FFFF00, #32CD32) !important;
  color: #040404;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 15px 20px; /* Adjust padding to increase button size */
  font-size: 20px; /* Adjust font size to increase button size */
}

.reserve__btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
}

.text-light {
  --bs-text-opacity: 1;
  color: #fff !important; /* Adjust text color for better contrast */
}

@media (max-width: 768px) {
  .slider__item {
    height: 450px; /* Adjust height for smaller screens */
  }

  .slider__content {
    padding-top: 100px; /* Adjust padding for smaller screens */
  }

  .slider__content h1,
  .slider__content h4,
  .slider__content h6 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .reserve__btn {
    padding: 10px 15px; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}
