/* Navbar.css */

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* Use Open Sans font */
  background-color: #f4f7f2;
}

.navbar {
  width: 100%;
  z-index: 100000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3D9769;
  /* Dark blue background */
  padding: 0.6rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

.logo {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 600;
  /* Bold font weight */
  font-family: 'Merriweather', serif;
  /* Use Merriweather font for logo */
}

.sajha {
  color: #292523;
  /* Green color for SAJHA */
}

.baari {
  color: #fde351;
  /* Gold color for BAARI */
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  /* Prevent line breaks */
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Truncate with ellipsis */
}

.nav-links a:hover {
  background-color: #fff;
  color: #1D3557;
}

.login-button a,
.seller-button a {
  background-color: #fff;
  color: #1D3557;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-button a:hover,
.seller-button a:hover {
  background-color: #1D3557;
  color: #fff;
}

.hamburger-menu {
  display: none;
}

/* Hamburger Menu */
.hamburger-menu .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger-menu.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  /* Rounded search input */
  margin-right: 0.5rem;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #1D3557;
  /* Dark blue border on focus */
}

.search-button {
  background-color: #1D3557;
  /* Dark blue search button */
  color: #fff;
  border: none;
  padding: 0.3rem 0.7rem;
  /* Increased width */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0D1B2A;
  /* Darker blue on hover */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    /* Hide navigation links */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #1D3557;
    /* Dark blue background for navbar */
    padding: 0.5rem;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
    /* Show navigation links when active */
  }

  .hamburger-menu {
    display: block;
    /* Show hamburger menu */
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}