/* Testimonials.css */

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.testimonials-heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 15px;
  text-align: center; /* Center text content */
  padding: 30px;
  width: calc(33.33% - 20px);
  max-width: 350px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.testimonial-image {
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  border-radius: 50%;
  margin: 0 auto; /* Center the image */
  display: block; /* Ensures margin: 0 auto; works */
  margin-bottom: 20px;
  object-fit: cover;
}

.testimonial-info {
  padding: 0 10px;
}

.testimonial-name {
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center; /* Center text */
}

.testimonial-position {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
  text-align: center; /* Center text */
}

.testimonial-stars {
  display: flex;
  justify-content: center; /* Center stars */
  align-items: center; /* Center vertically */
  margin-bottom: 15px;
}

.star-icon {
  color: #fdd835;
  font-size: 1.2rem;
  margin-right: 5px;
}

.testimonial-text {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .testimonials-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .testimonial-card {
    width: calc(50% - 20px);
    max-width: 100%;
  }

  .testimonial-image {
    width: 80px;
    height: 80px;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .testimonial-position {
    font-size: 0.9rem;
  }

  .testimonial-text {
    font-size: 0.9rem;
  }
}
