#root{
    height: 100vh;
    display: flex;
    background: #f6f6f6;
    overflow: hidden;
}

* {
    font-family: Inter;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* for add product page */

.add-product-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        width: 80%;
    }
}

.add-product-form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-form {
    width: 450px;
    height: 650px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 50px;

    /* .add-product-header {
        margin: 32px 0px;
    } */

    .add-product-main-text {
        font-size: 2rem;
        font-weight: 800;
        margin: 8px 0px;
        padding: 0;
    }

    .add-product-sub-text {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 8px 0px;
        color: #00000062;
    }

    .add-product-textfields {
        display: flex;
        gap: 12px;
        flex-direction: column;

        label {
            font-size: 1rem;
            font-weight: 700;
        }
    }

    input,
    textarea {
        width: 350px;
        height: 40px;
        font-size: 1rem;
        text-indent: 12px;
        border-radius: 8px;
        border: 1px solid #CDCDCD;
        outline: none;
    }

    .add-product-btn {
        width: 350px;
        height: 40px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background: #3D9769;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            transition: all .25s;
            background: #387668;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 600;
    }
}

.errorLabel {
    text-align: center;
    color: red;
    font-size: 12px;
}


