.my-products-container {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.add-product-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3D9769;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 1.2rem;
}

.add-product-button:hover {
    background-color: rgb(17, 99, 52)
}

.my-products-main {
    width: 90%;
    height: 600px;
    overflow-y: scroll;

    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
}
