.products {
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 25px;
    cursor: pointer;

    margin: 50px auto;
    /* border: 1px solid red; */

    .product-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: gray;
            font-weight: 500;
            display: inline;
        }

        button {
            width: 100px;
            height: 40px;

            border: 1px solid var(--green);
            border-radius: 4px;

            cursor: pointer;
            background: #fff;
            font-size: 1rem;
        }
    }

    .products-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* justify-content: space-between; */

        .product {
            width: 225px;
            height: 300px;
            background: #fff;
            border-radius: 12px;

            img {
                width: 200px;
                height: 200px;

                border-radius: 12px;
                object-fit: contain;
                object-position: center;
            }

            .product-description {
                padding: 15px;

                p {
                    font-size: 1.25rem;
                }

                span {
                    color: green;
                }
            }
        }
    }
}
.products {
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 25px;

    margin: 50px auto;
    /* border: 1px solid red; */

    .product-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: gray;
            font-weight: 500;
            display: inline;
        }

        button {
            width: 100px;
            height: 40px;

            border: 1px solid var(--green);
            border-radius: 4px;

            cursor: pointer;
            background: #fff;
            font-size: 1rem;
        }
    }
    .product-main select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 16px;
        transition: all 0.3s;
        cursor: pointer;
        outline: none;
      }
      
      .product-main select:hover,
      .product-main select:focus {
        padding: 12px;
        border-color: #007bff;
        border-radius: 10px;
      }
      
      .product-main select option:hover {
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 10px;
      }
      
      
      
    .products-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* justify-content: space-between; */

        .product {
            width: 225px;
            height: 300px;
            background: #fff;
            border-radius: 12px;

            img {
                width: 200px;
                height: 200px;

                border-radius: 12px;
                object-fit: contain;
                object-position: center;
            }

            .product-description {
                padding: 15px;

                p {
                    font-size: 1.25rem;
                }

                span {
                    color: green;
                }
            }
        }   
    }
}