.product-card {
    width: 80%;
    height: 500px;

    margin: 25px auto;
    border-radius: 12px;

    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    .product-image {
        width: 350px;
        height: 350px;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 1px solid #c9c9c9;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }


    .product-details {
        width: 50%;
        height: 350px;

        margin: 15px;
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 12px;

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        p {
            font-size: 1.2rem;
        }

        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
            color: green;
        }


        .quantity-control {
            display: flex;
            align-items: center;
            gap: 12px;

            .quantity-btn {
                width: 50px;
                height: 50px;
                font-size: 2rem;
                border: 4px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;

                &:hover {
                    background: gray;
                }
            }
        }

        .action-buttons {
            display: flex;
            gap: 12px;
            margin: 50px 0;

            button {
                width: 250px;
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                transition: all .25 ease;
            }

            .buy-btn {
                background: green;
                color: #fff;

                &:disabled {
                    background: gray;
                    cursor: not-allowed;
                }
            }

            .cart-btn {
                &:hover {
                    border: 1px solid gray;
                }

                &:disabled {
                    border: 1px solid black;
                    cursor: not-allowed;
                }
            }
        }
    }

}

.product-stock {
    display: flex;
    gap: 12px;

    span {
        color: red;
    }
}