.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
}

.product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    color: green;
    margin-bottom: 10px;
}

.product-stock {
    font-size: 16px;
    margin-bottom: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-btn {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.quantity {
    font-size: 18px;
}

.action-buttons {
    display: flex;
}

.buy-btn,
.cart-btn {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.buy-btn:hover,
.cart-btn:hover {
    background-color: greenyellow;
}