/* ProductCard.scss */
.product-card {
    position: relative;
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background: #fff;
    overflow: hidden; /* Ensure the overlay covers the entire card */
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 10px;
}

.product-card .price {
    font-weight: bold;
    color: #333;
}

.product-card .sold-quantity {
    display: block;
    margin-top: 5px;
    color: #777;
}

.edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
}

.product-card:hover .edit-button {
    display: block; /* Show edit button on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */
}

.product-card:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}
