/* Add styles for the profile section */
.profile-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.info-item h3 {
    margin: 0;
}

.edit-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background: green;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Add styles for the edit form */
.edit-form {
    width: 100%;
    height: 100vh;
    padding: 40px;
    border-radius: 5px;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-form label {
    font-weight: bold;
    font-size: 18px;
}

.edit-form input[type="text"],
.edit-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 22px);
    font-size: 16px;
}

.edit-form button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #00C78C;
    /* Green accent color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.edit-form button:hover {
    background-color: #00A76B;
    /* Darker shade on hover */
}

.cancel-button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #ddd;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}
